* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

.container {
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
}

button {
  cursor: pointer;
  border: 0;
  background: transparent;
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 100;
  padding: 15px 0;
  box-shadow: 3px 3px 5px rgba(135, 135, 135, 0.2);
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding-bottom: 20px;
    .logo {
      .logo-A {
        display: none;
      }
    }

    .nav-items {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px;
      .nav-category {
        display: flex;
        align-items: center;
        gap: 5px;
        border: 0;
        background: #008dff;
        padding: 5px 15px;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.4s;
        &:hover {
          background: #006ac0;
        }
        span {
          color: #fff;
          font-family: sans-serif;
          font-size: 16px;
        }
      }
      .form {
        display: flex;
        align-items: center;
        input {
          width: 100%;
          outline: none;
          border: 2px solid #008dff;
          padding: 5px 15px;
          font-size: 16px;
          border-radius: 8px 0 0 8px;
        }
        button {
          border-radius: 0px 8px 8px 0px;
          background: #008dff;
          transition: 0.4s;
          color: #fff;
          padding: 5px;
          border: 2px solid #008dff;
          font-family: sans-serif;
          font-size: 16px;
          cursor: pointer;
          &:hover {
            background: #006ac0;
            border: 2px solid #006ac0;
          }
        }
      }
      .btn-search {
        display: none;
      }
    }
    .nav_items {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 24px;
      button {
        transition: 0.4s;
        &:hover {
          svg {
            fill: #008dff;
            stroke: #008dff;
          }
          p {
            color: #008dff;
          }
        }
        svg {
          fill: #000;
          stroke: #000;
          transition: 0.4s;
          &:hover {
            fill: #008dff;
            stroke: #008dff;
          }
        }
        #cart {
          fill: none;
        }
        p {
          font-family: sans-serif;
          transition: 0.4s;
          font-weight: 500;
          &:hover {
            color: #008dff;
          }
        }
      }
    }
  }
  .head-bottom {
    border-top: 1px solid #ccc;
    padding: 15px 0 0;
    .head-items {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px;

      .ramadan {
        width: 146px;
        display: flex;
        align-items: center;
        gap: 5px;
        font-family: sans-serif;
        font-size: 16px;
        color: #282830;
        transition: 0.4s;
        &:hover {
          color: #008dff;
        }
        img {
          width: 32px;
        }
      }
      .items {
        width: 1100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        flex-wrap: wrap;
        .head-bottom-link {
          font-family: sans-serif;
          font-size: 20px;
          color: #282830;
          transition: 0.4s;

          &:hover {
            color: #008dff;
          }
        }
      }
      .btn-burger {
        display: none;
      }
      .btn-burger.burger {
        display: block;
      }
    }
  }
  @media only screen and (max-width: 1111px) {
    nav {
      .nav_items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background: #fff;
        z-index: 100;
        padding: 15px 10px;
      }
    }
  }
  @media only screen and (max-width: 959px) {
    .head-bottom {
      position: relative;
      .head-items {
        .items {
          position: absolute;
          flex-direction: column;
          background: #f2f2f2;
          width: 300px;
          padding: 10px;
          right: -400px;
          top: 65px;
          transition: 0.4s;
          opacity: 0.91;
        }
        .items.show {
          right: 0;
        }
        .btn-burger {
          display: block;
        }
      }
    }
  }
  @media only screen and (max-width: 606px) {
    nav {
      .logo {
        .logo-asaxiy {
          display: none;
        }
        .logo-A {
          display: block;
        }
      }
    }
  }
  @media only screen and (max-width: 444px) {
    & {
      border-radius: 0 0 30px 30px;
      nav {
        .nav-items {
          .form {
            display: none;
          }
          .btn-search {
            display: block;
          }
        }
        .nav_items {
          border-top: 1px solid #ccc;
          border-radius: 30px 30px 0 0;
          .btn-scales {
            display: none;
          }
          .btn-like {
            display: none;
          }
        }
      }
      .head-bottom {
        .head-items {
          .items {
            width: 100%;
          }
        }
      }
    }
  }
}

main {
  padding: 160px 0;
  background: #f4f7fd;
  .products {
    .loads {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 32px;
      flex-wrap: wrap;
      .card {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;

        gap: 5px;
        width: 250px;
        // height: 300px;
        padding: 15px;
        background: #fff;
        // border: 1px solid #000;
        border-radius: 12px;
        .top-btns {
          display: flex;
          align-items: center;
          gap: 75px;
          .news {
            width: 120px;
            height: 20px;
          }
          .child-btn {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 5px;
            .like {
              width: 24px;
              height: 24px;
            }
            .scales {
              width: 24px;
              height: 24px;
            }
          }
        }

        .img-skeleton {
          width: 220px;
          height: 150px;
          //   background: #000;
        }

        .title-skeleton {
          width: 100%;
          height: 16px;
          //   background: #000;
        }
        .title-skeleton2 {
          width: 80%;
          height: 16px;
        }
        .stars-skeleton {
          width: 100%;
          height: 18px;
          //   background: #000;
        }
        .price-skeleton {
          width: 100%;
          height: 20px;
          //   background: #000;
        }
        .btns {
          display: flex;
          align-items: center;
          gap: 15px;
          .price-btn-skeleton {
            cursor: pointer;
            width: 160px;
            height: 25px;
            // background: #000;
          }
          .cart-skeleton {
            cursor: pointer;
            width: 45px;
            height: 25px;
            // background: #000;
          }
        }
        .skeleton {
          border-radius: 8px;
          opacity: 0.7;
          animation: skeleton-load 1s linear infinite alternate;
        }

        @keyframes skeleton-load {
          0% {
            background: hsl(200, 20%, 80%);
          }
          100% {
            background: hsl(202, 10%, 95%);
          }
        }
      }
    }
    .cards {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 32px;
      flex-wrap: wrap;
      .card {
        padding: 10px;
        width: 240px;
        background: #fff;
        border-radius: 20px;
        box-shadow: 0.5px 0.5px 10px rgba(134, 134, 134, 0.125);
        .img {
          width: 220px;
          height: 190px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .top-btns {
          display: flex;
          align-items: start;
          justify-content: space-between;
          .new {
            background: red;
            color: #fff;
            font-family: sans-serif;
            padding: 4px 5px 2px;
            border-radius: 8px;
            text-transform: uppercase;
          }
          .heart {
            cursor: pointer;
          }
          .scales {
            cursor: pointer;
          }
        }
        h3 {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          overflow: hidden;
          padding: 15px 0 0 0;
          font-family: sans-serif;
          font-weight: 800;
          cursor: pointer;
          transition: 0.4s;

          &:hover {
            color: rgb(18, 180, 250);
          }
        }
        .price-rate {
          padding: 0 15px 0 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .price {
            font-size: 24px;
            font-weight: 900;
            color: rgb(18, 180, 250);
            font-family: sans-serif;
            padding: 15px 0;
          }
          .rating {
            font-family: sans-serif;
            font-weight: 900;
          }
        }
        .description {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          font-family: sans-serif;
          text-transform: capitalize;
          font-size: 14px;
        }
        .category {
          font-family: sans-serif;
          color: #bf0000;
          padding: 10px 0;
          font-weight: 600;
          text-transform: uppercase;
          font-size: 12px;
          b {
            color: #111;
            text-transform: capitalize;
          }
        }
        .card-btns {
          display: flex;
          align-items: center;
          gap: 5px;
          .sale {
            width: 180px;
            border: 0;
            background: #008dff;
            color: #fff;
            transition: 0.4s;
            cursor: pointer;
            padding: 8px 20px;
            border-radius: 12px;
            font-family: sans-serif;
            font-size: 14px;
            &:hover {
              background: #006ac0;
            }
          }

          .btn-cart {
            background: #00bfaf;
            padding: 5px 15px;
            border-radius: 12px;
            border: 0;
            cursor: pointer;
            transition: 0.4s;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
              background: #03978b;
            }
            .cart {
              fill: #fff;
            }
          }
        }
      }
    }
  }
}

.backtop {
  position: fixed;
  bottom: -60px;
  right: 15px;
  background: #f9f;
  border-radius: 50%;
  padding: 10px 12px;
  z-index: 100;
  transition: 0.4s;
}

.backtop.show {
  bottom: 80px;
}
